:root {
  --oui-font-family: 'Roboto', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 20 20 20;
  --oui-color-primary-light: 255 255 255;
  --oui-color-primary-darken: 255 255 255;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 255 255 255;
  --oui-color-link-light: 255 255 255;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 255 255 255;
  --oui-color-quaternary: 255 255 255;

  --oui-color-danger: 150 0 0;
  --oui-color-danger-light: 150 0 0;
  --oui-color-danger-darken: 150 0 0;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 0 150 0;
  --oui-color-success-light: 0 150 0;
  --oui-color-success-darken: 0 150 0;
  --oui-color-success-contrast: 0 150 0;

  --oui-color-warning: 255 200 0;
  --oui-color-warning-light: 255 200 0;
  --oui-color-warning-darken: 255 200 0;
  --oui-color-warning-contrast: 255 200 0;

  --oui-color-fill: 20 20 20;
  --oui-color-fill-active: 20 20 20;

  --oui-color-base-1: 0 0 0;
  --oui-color-base-2: 0 0 0;
  --oui-color-base-3: 0 0 0;
  --oui-color-base-4: 0 0 0;
  --oui-color-base-5: 0 0 0;
  --oui-color-base-6: 0 0 0;
  --oui-color-base-7: 0 0 0;
  --oui-color-base-8: 0 0 0;
  --oui-color-base-9: 0 0 0;
  --oui-color-base-10: 0 0 0;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 150 0 0;
  --oui-color-trading-loss-contrast: 150 0 0;
  --oui-color-trading-profit: 0 148 30;
  --oui-color-trading-profit-contrast: 0 150 0;

  /* gradients */
  --oui-gradient-primary-start: 40 0 97;
  --oui-gradient-primary-end: 189 107 237;

  --oui-gradient-secondary-start: 81 42 121;
  --oui-gradient-secondary-end: 176 132 233;

  --oui-gradient-success-start: 1 83 68;
  --oui-gradient-success-end: 41 223 169;

  --oui-gradient-danger-start: 255 0 0;
  --oui-gradient-danger-end: 255 0 0;

  --oui-gradient-brand-start: 0 0 0;
  --oui-gradient-brand-end: 255 255 255;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 152 58 8;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 27 29 24;
  --oui-gradient-neutral-end: 38 41 46;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px !important;
}

.orderly-app-container,
.orderly-app-container *,
.orderly-app-container *::before,
.orderly-app-container *::after {
  font-family: 'Roboto', sans-serif !important;
}
